@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Herr+Von+Muellerhoff&family=Josefin+Sans:wght@300;600&display=swap');

/* 
font-family: 'Cabin', sans-serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

* {
    box-sizing: border-box;
}

:root {
    --brand-color: #C59D5F;
}

body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.header-wrap {
    width: 100%;
    max-width: 1920px;
    height: 70px;
    padding: 12px 50px 12px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.header-background {
    animation-name: header-background;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes header-background {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 1);
    }
}

.header-logo {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav-icon {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 30px;
    top: 30px;
    transition: .5s;
}

.nav-icon-rotate {
    transform: rotate(90deg);
}

.nav-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--brand-color);
}

.nav-icon span:nth-child(2) {
    margin: 5px 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 25px;
    font-size: 14px;
}

.nav-menu a:hover {
    color: var(--brand-color);
    transition: .4s;
    text-decoration: underline;
}

.fab:hover {
    color: var(--brand-color);
    transition: .4s;
}

.header-social-icons {
    letter-spacing: 5px;
    cursor: pointer;
}

.main-cover {
    width: 100%;
    height: 100vh;
    padding: 12px;
    box-sizing: border-box;
}

.main-cover-wrap {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background: url("./img/cover-bg.jpg") no-repeat center fixed;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.main-cover-wrap h1 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--brand-color);
    font-size: 120px;
    font-weight: 100;
    line-height: 50px;
    margin: 0 0 0 5px;
    opacity: 0;
    transition: 1s;
}

.main-cover-wrap h1 span {
    display: block;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 7px;
}

.cover-text-underline {
    height: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 12px;
    opacity: 0;
    transition: 1s;
}

.cover-text-underline .left-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ffffff;
    display: inline-block;
    position: absolute;
}

.cover-text-underline .line {
    width: 200px;
    height: 2px;
    background: white;
}

.cover-text-underline .right-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.cover-text-underline .star {
    margin: -1px 10px 0 10px;
}

.main-cover-wrap h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    opacity: 0;
    transition: 1s;
}

.main-cover-wrap button {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 11px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .5s;
    opacity: 0;
    transition: 1s;
}

.main-cover-wrap button:hover {
    background: var(--brand-color);
}

.cover-arrow-bg {
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -96px;
}

.main-cover-wrap i {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 50%;
    margin-left: -7px;
    font-size: 20px;
    color: rgb(65, 65, 65);
    cursor: pointer;
    transition: .5s;
}

.main-cover-wrap i:hover {
    color: var(--brand-color);
}

.cover-text-underline {
    color: var(--brand-color);
}

.our-story {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    text-align: center;
}

.our-story-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px;
}

.our-story h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--brand-color);
    margin: 0;
    font-size: 100px;
    font-weight: 200;
    line-height: 50px;
}

.our-story h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

.our-story .star {
    color: var(--brand-color);
    margin: 20px 0;
}

.our-story p {
    color: #515151;
    line-height: 1.6;
}

.our-story img {
    width: 100%;
}

.recipes {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background: url("./img/recipes-bg.jpg") no-repeat center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 12px solid white;
    border-right: 12px solid white;
}

.recipes h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--brand-color);
    margin: 0;
    font-size: 100px;
    font-weight: 200;
    line-height: 50px;
    opacity: 0;
    transition: .5s;
}

.recipes h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
    color: white;
    opacity: 0;
    transition: .5s;
}

.menu {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    text-align: center;
}

.menu-left-box {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-wrap: wrap;
    padding: 30px;
}

.menu-left-box img {
    width: 50%;
    height: auto;
    padding: 10px;
}

.menu-right-box {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.menu h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--brand-color);
    margin: 0;
    font-size: 100px;
    font-weight: 200;
    line-height: 50px;
}

.menu h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

.menu .star {
    color: var(--brand-color);
    margin: 20px 0;
}

.menu p {
    color: #515151;
    line-height: 1.6;
}

.blend {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background: url("./img/blend-bg.jpg") no-repeat center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 12px solid white;
    border-right: 12px solid white;
}

.blend h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--brand-color);
    margin: 0;
    font-size: 100px;
    font-weight: 200;
    line-height: 50px;
    opacity: 0;
    transition: .5s;
}

.blend h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
    color: white;
    opacity: 0;
    transition: .5s;
}

.taster {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    text-align: center;
}

.taster-left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px;
}

.taster-right-box {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    padding: 30px;
}

.taster-right-box img {
    width: 50%;
    padding: 10px;
}

.taster h2 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--brand-color);
    margin: 0;
    font-size: 100px;
    font-weight: 200;
    line-height: 50px;
}

.taster h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

.taster .star {
    color: var(--brand-color);
    margin: 20px 0;
}

.taster p {
    color: #515151;
    line-height: 1.6;
}

footer {
    width: 100%;
    background: #1d1d1d;
    border: 12px solid white;
    text-align: center;
    color: white;
}

.footer-topside {
    padding: 100px 0;
    position: relative;
}

.footer-topside-header {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.footer-topside h3 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px; 
}

.footer-topside-contact {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-topside-header h1 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
}

.footer-topside-header .star {
    color: var(--brand-color);
    margin: 25px 0;
}

.footer-topside-header p {
    line-height: 1.8;
    letter-spacing: 1px;
}

.footer-social-icons i {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}

.footer-social-icons i:hover {
    color: var(--brand-color);
}

.footer-newsletter form {
    width: 250px;
    position: relative;
    margin: 0 auto;
}

.footer-newsletter form input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.footer-newsletter form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
}

.footer-newsletter form button i {
    font-size: 20px;
    color: #1d1d1d;
}

.footer-topside .footer-arrow-bg {
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -96px;
}

.footer-topside .fa-chevron-up {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 50%;
    margin-left: -7px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.footer-topside .fa-chevron-up:hover {
    color: var(--brand-color);
}

.footer-downside {
    width: 100%;
    background: #252525;
    padding: 50px;
    color: #5e5e5e;
}

.footer-downside a {
    color: var(--brand-color);
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-downside a span {
    font-weight: 600;
}

.footer-downside a:hover {
    color: white;
}


@media screen and (max-width: 900px) {

    .header-wrap {
        flex-direction: column;
        justify-content: center;
        padding-top: 10vh;
        margin: 0;
        background: black;
        height: 100vh;
        text-align: center;
        display: none;
    }

    .header-logo {
        color: var(--brand-color);
    }

    .nav-icon {
        display: block;
    }

    nav {
        margin: 10vh 0;
    }

    .nav-menu a {
       display: block;
       font-size: 20px;
       margin: 10px 0;
    }

    .header-social-icons {
        font-size: 25px;
        color: var(--brand-color)
    }

    .header-social-icons i:hover {
        color: black;
    }

    .main-cover {
        padding: 0;
    }

    .our-story {
        flex-direction: column;
    }

    .recipes {
        border: none;
    }

    .menu {
        display: block;
    }

    .blend {
        border: none;
    }

    .taster {
        display: block;
    }

    footer {
        border: none;
    }

    .footer-topside-header {
        width: 500px;
        padding: 0 20px 30px 20px;
    }

    .footer-topside-contact {
        display: block;
        width: 100%;
    }

    .footer-social-icons i {
        color: #5e5e5e;
    }

    .footer-newsletter {
        margin: 50px 0;
    }

}

@media screen and (max-width: 500px) {

    .cover-text-underline .line {
        width: 100px;
    }

    .main-cover-wrap h1 {
        font-size: 80px;
    }

    .main-cover-wrap h1 span {
        font-size: 30px; 
    }

    .footer-topside-header {
        width: 100%;
    }
}